<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nirvrtti - CMS</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/adminComponent.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>

<div class="wrap" id="admin">

  <nav id="nav">
    <ul id="nav-list">
      <li><a href="/admin/common"><i class="fas fa-object-group"></i></i>Common</a></li>
      <li><a href="/admin"><i class="far fa-edit"></i><br />Page</a></li>
      <li><a href="/admin/design"><i class="fas fa-drafting-compass"></i>Design</a></li>
      <li><a href="/admin/setting"><i class="fas fa-cog"></i>Setting</a></li>
    </ul>
  </nav>

  <nav id="subnav">
    <ul>
      <li><a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a></li>
      <li><a href="/main"><i class="fas fa-home"></i> Go to nirvrtti</a></li>
    </ul>
  </nav>