<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nirvrtti</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header class="bg">
    <div class="bg-wrap">
      <section id="logo">
        <div id="logo-img">
          <img src="/images_saved/<%= header.logo %>" alt="" id="logo-img">
        </div>
        <div id="logo-txt">
          <h1><a href="/main"><%= header.title %></a></h1>
          <h3><%= header.subtitle %></h3>
        </div>
      </section>
      <nav id="menu">
        <ul>
          <li><a href="/main">nirvrtti</a></li>
          <% pages.forEach(function(p) {
            %>
            <li><a href="/main/<%= p.slug %>"><%= p.title %></a></li>
            <%
          }); %>
      </nav>
    </div>
  </header>